<div class="container" style="font-size: 1em;">
    <h1 style="color: darkgreen;font-size: 5em; text-shadow: 2px 2px 0 #000;">Perfil de {{user.name}}</h1>
    {{#if isAdmin}}
    <a class="btn btn-dark" aria-current="page" href="/listado">Ver Lista de Usuarios</a>
    {{/if}}
    <hr>
    <div class="row">
        <div class="col-md-4 mb-3">
            <img src="{{user.cover}}" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
            <p style="font-size: 3em;">UserName: {{user.username}}</p>
            <p style="font-size: 3em;">Fecha de Nacimiento: {{user.age}}</p>
            <p style="font-size: 3em;">Email: {{user.email}}</p>
        </div>
    </div>
    <div>
    <a href="/perfil/editar" class="btn btn-warning ">Editar</a>
    </div>
    <hr>
    <a class="btn btn-dark" href="/">Volver al inicio</a>
</div>

