<div class="text-center">
    <div class="col">
        <div class="card">
            {{!-- <img src="..." class="card-img-top" alt="..."> --}}
            <div class="card-body">
                <p>{{owner._id}}</p>
                <h5 class="card-title"> Pais de destino:{{country}}</h5>
                <p> Cuidad de destino : {{city}}</p>
                <p> Fecha de salida : {{date}}</p>
                <p class="card-text"> Descripcion: {{description}}</p>

            </div>
            <a href="/guia-viajes/editar/{{_id}}" class="btn btn-dark"> Editar </a>

            <form action="/guia-viajes/eliminar/{{_id}}" method="POST">
                <input type="submit" value="eliminar" class="btn btn-danger">
            </form>
            <form action="/guia-viajes/apuntarse/{{_id}}" method="GET">
                <input type="submit" value="Apuntarse" class="btn btn-warning">
            </form>
            <a href="/guia-viajes/comentar/{{_id}}" class="btn btn-info"> Comentar </a>


        </div>

    </div>


    <div class="col">
        <div class="position-relative">
            <figure id="myMap"></figure>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/map.js"></script>
    <script src=""></script>
    <script src="https://maps.googleapis.com/maps/api/js?callback=init&key=AIzaSyBpaXfuU2S1S4KFhTCwvA_-bEWCozOAIzI">
    </script>

</div>
</div>