<div class="container" style="text-align: center">
    <h1 style="color: darkgreen;font-size: 5em; text-shadow: 2px 2px 0 #000;">Listado de Viajes</h1>
</div>


<div class="text-center">
    <div class="row align-items-start">
        <div class="col">
            <div class="container mb-5">
                <div>
                    {{#each trips}}
                    <div class="card bg-custom mb-4">
                        <div class="card-body">
                            <h3 class="card-title "><strong>PAÍS: </strong> {{country}}</h3>
                            <h4 class="card-title"><strong>CIUDAD: </strong> {{city}}</h4>
                            <h5 class="card-title"><strong>EDAD MINIMA RECOMENDADA: </strong> {{minimumAge}}</h5>
                            <h5 class="card-text"><strong>DESCRIPCION DEL EVENTO: </strong> {{description}}</h5>
                        </div>
                        <a href="/guia-viajes/detalles/{{_id}}" class="btn btn-dark"> Ver detalles </a>

                    </div>
                    {{/each}}

                    <div class="card">
                        <a href="/guia-viajes/crear" class="btn btn-dark"> Crear </a>
                    </div>

                </div>

            </div>

        </div>

    </div>

</div>